<!DOCTYPE html>
<html>
<head>
    <title>Add Availability</title>
</head>
<body>

<%- include("../partials/navbar") %>

<h1>Add Availability</h1>

<form action="/availability" method="POST">

<label>Date</label>
<input type="date" name="date" required>

<br>


<br>

<label>Slots</label>

<input
type="text"
name="slots"
placeholder="available time slots ">

<br>
<br>

<button>Add Availability</button>


</form>

</body>
</html>