<h1>Add Availability</h1>

<form action="/availability" method="POST">

    <label>Date</label>
    <input type="date" name="date">

    <label>Start Time</label>
    <input type="time" name="startTime">

    <label>End Time</label>
    <input type="time" name="endTime">

    <button>Add Availability</button>

</form>