<!DOCTYPE html>
<html>
<head>
    <title>Customer Dashboard</title>
</head>
<body>

<%- include("../partials/navbar") %>

<h1>Customer Dashboard</h1>

<p>Welcome <%= user.username %></p>

<ul>
    <li><a href="/users/providers">Browse Providers</a></li>
    <li><a href="/appointments">My Appointments</a></li>
    <li><a href="/appointments/new">Book Appointment</a></li>
</ul>

</body>
</html>