<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <h1>Customer dashboard</h1>
    <a href="/appointments/new">
        Create appointments
    </a>
    <br>
    <a href="/appointments">my appointments</a>
<br>
<a href="/users/providers">providers</a>
</body>
</html>