<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Providers</title>
</head>
<body>

<%- include("../partials/navbar") %>

<h1>Providers</h1>

<% providers.forEach((provider) => { %>

    <h2><%= provider.username %></h2>

    <a href="/users/providers/<%= provider.username %>">
        View Appointments
    </a>

    <br><br>

    <a href="/availability/<%= provider._id %>">
        View Availability
    </a>

    <hr>

<% }) %>

</body>
</html>