<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Providers</title>
</head>
<body>

<%- include("../partials/navbar") %>

<h1>Providers</h1>

<% providers.forEach((provider) => { %>

    <div>

        <h2><%= provider.username %></h2>

        <a href="/users/providers/<%= provider.username %>">
            View Appointments
        </a>

    </div>

<% }) %>

</body>
</html>