<!DOCTYPE html>
<html>
<head>
    <title>Provider Dashboard</title>
</head>
<body>

<%- include("../partials/navbar") %>

<h1>Provider Dashboard</h1>

<p>Welcome <%= currentUser.username %></p>

<ul>
    <li><a href="/users/my-appointments">My Appointments</a></li>
    <li><a href="/availability">My Availability</a></li>
    <li><a href="/availability/new">Add Availability</a></li>
</ul>

</body>
</html>