<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Provider Dashboard</h1>

<a href="/provider/appointments">
    My Appointments
</a>

<br><br>

<a href="/availability">
    My Availability
</a>

<br><br>

<a href="/availability/new">
    Add Availability
</a>

</body>
</html>